@page
@model IndexModel
@{
    ViewData["Title"] = "Survey page";
}




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-4">Your personal access link is:</h3>
    <p><a href="@Model.Link">@Model.Link</a></p>
</div>
